[Desktop Entry]
Name=IntelliJ IDEA Community Edition
Comment=The IDE for pure Java and Kotlin development
TryExec=/home/magdi/dvlpmnt/idea/bin/idea.sh
Exec=/bin/zsh -i -c "/home/magdi/dvlpmnt/idea/bin/idea.sh" %f
Icon=/home/magdi/dvlpmnt/idea/bin/idea.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/tg;
Keywords=idea;ide;java;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true
